@page
@model IndexModel
@{
    ViewData["Title"] = Constants.Name;
    ViewData["Description"] = "Сайт ProMamaClub.ru - это источник информации для беременных и молодых мам. " +
                              "Мы предлагаем самую полезную и актуальную информацию. " +
                              "Надеемся, что наш сайт станет для Вас надежным помощником.";
    ViewBag.IsHome = true;
    Layout = "_Layout";
}


<div class="home06-bg04">
    <div class="container pt-60 pb-60">
        @*<div class="dg-title09 text-center line-lg size-xl">
                <small>Keep up to the latest news</small>
                <h2 class="title">Create Your Blog Style</h2>
            </div>
            <p class="width-60 text-center mb-30"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>*@
        <div class="row">
            @foreach (var item in Model.LatestNews)
            {
                <div class="col-md-4">
                    @{
                        var url = Url.Page("Post", new { id = item.Id });
                    }
                    <div class="home06-imglist">
                        <a href="@url">
                            <img alt="@item.Title" class="img-responsive text-center" src="@item.ArticlePictureUrl">
                        </a>
                        <div class="cont">
                            <a href="@url" title="@item.Title">
                                <h3>@item.Title</h3>
                            </a>
                            @*<div class="info">
                                @for (var i = 0; i < item.Tags.Length; i++)
                                {
                                    var tag = item.Tags[i];
                                    //TODO::Ссылка на тег
                                    <a href="#" title="@tag">@tag</a>
                                    if (i != item.Tags.Length - 1)
                                    {
                                        <span class="sep">|</span>
                                    }
                                }
                            </div>*@
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>